<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="chat-list-table" class="row" style="height: 80vh;">
		<div class="col-md-3">
			<div class="chat-list" th:each="n : ${chatList}"
				th:onclick="|loadContentForEmployee('${n.id}')|">
				<div style="font-weight: bold;" th:text="${'Phòng chat '+n.id}"></div>
				<div th:text="${'User: '+n.name}"></div>
			</div>
		</div>
		<div class="col-md-9 content" style="height: 100%;">
			<div id="chat-panel" style="height: 100%;">
				<div id="content" style="height: 85%;"></div>
				<div id="footer" style="bottom: 5px;">
					<input class="form-control" type="text" id="input-panel">
					<button id="btn-send" onclick="showCustomerText()" style="width: 6%;">
						<i class="fa-solid fa-paper-plane"></i>
					</button>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		const ws = new WebSocket('ws://localhost:8080/chat?role=employee&userId=nguyen') //Tạo websocket
		const role = 'employee'
		</script>
		<script type="text/javascript" th:src="@{/js/chat-box.js}"></script>
	</div>
</body>
</html>