<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="foot">
		<script async defer crossorigin="anonymous" src="plugins/sdk.js"></script>
		<script src="plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
		<script src="plugins/bootstrap/popper.min.js"></script>
		<script src="plugins/bootstrap/bootstrap.min.js"></script>
		<script src="plugins/owl.carousel/owl.carousel.min.js"></script>
		<script src="js/home.js"></script>
		<script src="js/script.js"></script>
		<script src="plugins/uikit/uikit.min.js"></script>
		<script src="plugins/uikit/uikit-icons.min.js"></script>
	</div>
</body>
</html>