<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="footer">
        <footer class="main-footer">
		<div class="container">
			<div class="">
				<div class="row">
					<div class="col-xs-12  col-md-3">
						<div class="footer-col footer-block">
							<h4 class="footer-title">Giới thiệu</h4>
							<div class="footer-content">
								<p>AUNES trang mua bán các sản phẩm đồ uống chất lượng mà
									bạn cần tìm.</p>
								<!-- <div class="logo-footer">
                            <img src="images/logo-bct.png" alt="Bộ Công Thương">
                          </div> -->
								<div class="social-list">
									<a
										href="https://www.facebook.com/profile.php?id=61567950280264"
										class="fab fa-facebook"></a> <a href="#" class="fab fa-google"></a>
									<a href="#" class="fab fa-instagram"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12  col-md-3">
						<div class="footer-col footer-link">
							<h4 class="footer-title">&amp; CÂU HỎI</h4>
							<div class="footer-content toggle-footer">
								<ul>
									<li class="item"><a href="#" title="Tìm kiếm">Tìm kiếm</a>
									</li>
									<li class="item"><a href="#" title="Giới thiệu">Giới
											thiệu</a></li>
									<li class="item"><a href="#" title="Chính sách bảo mật">Chính
											sách bảo mật thông tin</a></li>
									<li class="item"><a href="#" title="Điều khoản dịch vụ">Điều
											khoản sử dụng</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-12  col-md-3">
						<div class="footer-col footer-block">
							<h4 class="footer-title">Thông tin liên hệ</h4>
							<div class="footer-content toggle-footer">
								<ul>
									<li><span>Địa chỉ:</span> 42 Đường số 8, Phường Trường
										Thọ, TP. Thủ Đức, TP. Hồ Chí Minh</li>
									<li><span>Điện thoại:</span> 0378 941 321</li>
									<!-- <li><span>Fax:</span> +84 (028) 38800659</li> -->
									<li><span>Mail:</span> khanhhuy2323@gmail.com</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-12  col-md-3">
						<div class="footer-col footer-block">
							<h4 class="footer-title">FANPAGE</h4>
							<div class="footer-content">
								<div id="fb-root">
									<div class="footer-static-content">
										<div class="fb-page"
											data-href="https://www.facebook.com/profile.php?id=61567950280264"
											data-tabs="timeline" data-width="" data-height="215"
											data-small-header="false" data-adapt-container-width="true"
											data-hide-cover="false" data-show-facepile="true">
											<blockquote
												cite="https://www.facebook.com/profile.php?id=61567950280264"
												class="fb-xfbml-parse-ignore">
												<a
													href="https://www.facebook.com/profile.php?id=61567950280264">AUNES
													coffee&cake</a>
											</blockquote>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-footer--copyright">
			<div class="container">
				<hr>
				<div class="main-footer--border"
					style="text-align: center; padding-bottom: 15px;">
					<p>
						Huy and Tin make this web <a href="#"> AUNES</a>. <a
							target="_blank" href="https://www.facebook.com/khanhhuy.214">Powered
							by GVHD</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>