<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="header">
		<div class="header">
			<a style="color: #ffffff; text-decoration: none;" href="index.html">MIỄN
				PHÍ VẬN CHUYỂN VỚI ĐƠN HÀNG NỘI THÀNH > 200K - ĐẶT HÀNG NGAY</a>
		</div>

		<!--Navbar-->

		<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
			<div class="container">
				<a class="navbar-brand" href="/"> <img
					th:src="@{/images/logo.jpg}" class="logo-top" alt="">
				</a>
				<div
					class="desk-menu collapse navbar-collapse justify-content-md-center"
					id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active"><a class="nav-link"
							th:href="@{/}">TRANG CHỦ</a></li>
						<li class="nav-item"><a class="nav-link" href="product.html">BỘ
								SƯU TẬP</a></li>
						<li class="nav-item lisanpham"><a class="nav-link"
							href="all.html">SẢN PHẨM <i class="fa fa-chevron-down"
								aria-hidden="true"></i>
						</a>
							<ul class="sub_menu">
								<li class=""><a href="detailproduct.html" title="Cà phê">
										cà phê </a></li>
								<li class=""><a href="detailproduct.html" title="Trà sữa">
										Trà sữa </a></li>
								<li class=""><a href="detailproduct.html" title="Matcha">
										Matcha </a></li>
								<li class=""><a href="detailproduct.html" title="Socola">
										Socola </a></li>
								<li class=""><a href="detailproduct.html"
									title="Trà trái cây"> Trà trái cây </a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link"
							href="introduce.html">GIỚI THIỆU</a></li>
						<li class="nav-item"><a class="nav-link" href="blog.html">BLOG</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="contact.html">LIÊN
								HỆ</a></li>
					</ul>
				</div>
				<div id="offcanvas-flip1" uk-offcanvas="flip: true; overlay: true">
					<div class="uk-offcanvas-bar"
						style="background: white; width: 100%;">

						<button class="uk-offcanvas-close" style="color: #272727"
							type="button" uk-close></button>
						<h3
							style="font-size: 14px; color: #272727; text-transform: uppercase; margin: 3px 0 30px 0; font-weight: 500; letter-spacing: 2px;">MENU</h3>
						<div class="justify-content-md-center">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="nav-link" href="index.html">TRANG
										CHỦ</a></li>
								<li class="nav-item"><a class="nav-link"
									href="Product.html">BỘ SƯU TẬP</a></li>
								<li class="nav-item dropdown"><a
									class="nav-link dropdown-toggle aaaa" href="#"
									id="navbarDropdown" role="button" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
										<p>SẢN PHẨM</p> <i class="fa fa-angle-double-right"></i>

								</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown"
										style="border: 0; display: inline-block;">
										<a class="dropdown-item" href="detailproduct.html"
											title="Cà phê">Cà phê</a> <a class="dropdown-item"
											href="detailproduct.html" title="Trà sữa">Trà sữa</a> <a
											class="dropdown-item" href="detailproduct.html"
											title="Matcha">Matcha</a> <a class="dropdown-item"
											href="detailproduct.html" title="Socola">Socola</a> <a
											class="dropdown-item" href="detailproduct.html"
											title="Trà trái cây">Trà trái cây</a>
									</div></li>
								<li class="nav-item"><a class="nav-link"
									href="introduce.html">GIỚI THIỆU</a></li>
								<li class="nav-item"><a class="nav-link" href="blog.html">BLOG</a>
								</li>
								<li class="nav-item"><a class="nav-link"
									href="Contact.html">LIÊN HỆ</a></li>
							</ul>
						</div>

					</div>
				</div>
				<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
					<div class="uk-offcanvas-bar"
						style="background: white; width: 350px;">

						<button class="uk-offcanvas-close" style="color: #272727"
							type="button" uk-close></button>

						<h3
							style="font-size: 14px; color: #272727; text-transform: uppercase; margin: 3px 0 30px 0; font-weight: 500; letter-spacing: 2px;">Tìm
							kiếm</h3>
						<div class="search-box wpo-wrapper-search">
							<form action="search"
								class="searchform searchform-categoris ultimate-search">
								<div class="wpo-search-inner" style="display: inline">
									<input type="hidden" name="type" value="product"> <input
										required="" id="inputSearchAuto" name="q" maxlength="40"
										autocomplete="off"
										class="searchinput input-search search-input" type="text"
										size="20" placeholder="Tìm kiếm sản phẩm...">
								</div>
								<button type="submit" class="btn-search btn"
									id="search-header-btn">
									<i style="font-weight: bold" class="fas fa-search"></i>
								</button>
							</form>
							<div id="ajaxSearchResults"
								class="smart-search-wrapper ajaxSearchResults"
								style="display: none">
								<div class="resultsContent"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="offcanvas-flip2" uk-offcanvas="flip: true; overlay: true">
					<div class="uk-offcanvas-bar"
						style="background: white; width: 350px;">

						<button class="uk-offcanvas-close" style="color: #272727"
							type="button" uk-close></button>

						<h3
							style="font-size: 14px; color: #272727; text-transform: uppercase; margin: 3px 0 30px 0; font-weight: 500; letter-spacing: 2px;">Giỏ
							hàng</h3>
						<div class="site-nav-container-last" style="color: #272727" sec:authorize="isAuthenticated()">
							<div class="cart-view clearfix">
							
							<!-- Giỏ hàng -->
								<table id="cart-view">
									<tbody>
										<tr class="item_1" th:each="cartItem : ${user.cart.cartItems}">
											<td class="img"><a href=""
												th:title="${cartItem.product.name}"><img
													th:src="${'https://s3.cloudfly.vn/kltn/images/'+cartItem.product.image}" alt="/products/matcha latte"></a></td>
											<td><a class="pro-title-view" style="color: #272727"
												th:href="@{/san-pham/{id} (id=${cartItem.product.name})}" th:title="${cartItem.product.name}" th:text="${cartItem.product.name +' ('+cartItem.quantity+')'}"></a><span
												class="item-price pro-price" th:text="${cartItem.price}"></span> <span
												class="remove_link remove-cart"><a href=""><i
														style="color: #272727;" class="fas fa-times"></i></a></span></td>
										</tr>
									</tbody>
								</table>
								
								<span class="line"></span>
								<table class="table-total">
									<tbody>
										<tr>
											<td class="text-left">TỔNG TIỀN:</td>
											<td class="text-right pro-price" id="total-view-cart" th:text="${user.cart.totalPrice}">22,000₫</td>
										</tr>
										<tr>
											<td class="distance-td"><a href=""
												class="linktocart button dark">Xem giỏ hàng</a></td>
											<td><a href="" class="linktocheckout button dark">Thanh
													toán</a></td>
										</tr>
									</tbody>
								</table>

								<a href="" target="_blank" class="button btn-check"
									style="text-decoration: none;"><span>Click nhận mã
										giảm giá!</span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="icon-ol">
					<i sec:authorize="isAuthenticated()" id="user-dropdown" class="fas fa-user-alt dropdown" style="color: blue;">
						<ul class="user-dropdown-item">
							<li><a 
								th:href="@{/user/profile}">Thông tin</a></li>
							<li><a th:href="@{/logout}">Đăng xuất</a></li>
						</ul>
					</i> <a sec:authorize="!isAuthenticated()" style="color: #272727"
						th:href="@{/user/sign-in}"> <i class="fas fa-user-alt"></i>

					</a> <a href="#" class="" uk-toggle="target: #offcanvas-flip"> <i
						class="fas fa-search" style="color: black"></i>
					</a> <a style="color: #272727" href="#"
						uk-toggle="target: #offcanvas-flip2"> <i
						class="fas fa-shopping-cart"></i>
					</a>
					<button class="navbar-toggler" type="button"
						uk-toggle="target: #offcanvas-flip1" data-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</div>
	</div>
	</nav>
	<script th:src="@{/js/cart.js}"></script>
	<script th:src="@{/js/currency.js}"></script>
	<script type="text/javascript">
	</script>
	</div>
</body>
</html>