<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="head">
		<link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/plugins/animate/animate.min.css">
        <link rel="stylesheet" href="/plugins/fontawesome/all.css">
        <link rel="stylesheet" href="/plugins/webfonts/font.css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="/plugins/uikit/uikit.min.css" />
        <link rel="stylesheet" href="/css/sign.css">
	</div>
</body>
</html>