<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.active{
		opacity: 1;
    	transform: scale(1, 1);
	}
</style>
</head>
<body>
	<div th:fragment="header">
		<div class="header" style="margin-bottom: 60px;">
			<a style="color: #ffffff; text-decoration: none;" href="index.html">MIỄN
				PHÍ VẬN CHUYỂN VỚI ĐƠN HÀNG NỘI THÀNH > 200K - ĐẶT HÀNG NGAY</a>
		</div>
		<!--Navbar-->

		<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top" style="position: fixed; width: 100%;">
			<div class="container">
				<a class="navbar-brand" href="/"> <img
					th:src="@{/images/logo.jpg}" class="logo-top" alt="">
				</a>
				<div
					class="desk-menu collapse navbar-collapse justify-content-md-center"
					id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">  
						<a class="nav-link"
							th:href="@{/}">TRANG CHỦ</a></li>
						<li class="nav-item lisanpham"><a class="nav-link"
							href="all.html">SẢN PHẨM <i class="fa fa-chevron-down"
								aria-hidden="true"></i>
						</a>
							<ul class="sub_menu">
								<li class=""><a href="detailproduct.html" title="Cà phê">
										cà phê </a></li>
								<li class=""><a href="detailproduct.html" title="Trà sữa">
										Trà sữa </a></li>
								<li class=""><a href="detailproduct.html" title="Matcha">
										Matcha </a></li>
								<li class=""><a href="detailproduct.html" title="Socola">
										Socola </a></li>
								<li class=""><a href="detailproduct.html"
									title="Trà trái cây"> Trà trái cây </a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/introduce}">GIỚI THIỆU</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/news/}">TIN TỨC</a>
						</li>
						<li class="nav-item"><a class="nav-link" th:href="@{/contact}">LIÊN
								HỆ</a></li>
					</ul>
				</div>
				<div id="offcanvas-flip1" uk-offcanvas="flip: true; overlay: true">
					<div class="uk-offcanvas-bar"
						style="background: white; width: 100%;">

						<button class="uk-offcanvas-close" style="color: #272727"
							type="button" uk-close></button>
						<h3
							style="font-size: 14px; color: #272727; text-transform: uppercase; margin: 3px 0 30px 0; font-weight: 500; letter-spacing: 2px;">MENU</h3>
						<div class="justify-content-md-center">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="nav-link" href="index.html">TRANG
										CHỦ</a></li>
								<li class="nav-item"><a class="nav-link"
									href="Product.html">BỘ SƯU TẬP</a></li>
								<li class="nav-item dropdown"><a
									class="nav-link dropdown-toggle aaaa" href="#"
									id="navbarDropdown" role="button" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
										<p>SẢN PHẨM</p> <i class="fa fa-angle-double-right"></i>

								</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown"
										style="border: 0; display: inline-block;">
										<a class="dropdown-item" href="detailproduct.html"
											title="Cà phê">Cà phê</a> <a class="dropdown-item"
											href="detailproduct.html" title="Trà sữa">Trà sữa</a> <a
											class="dropdown-item" href="detailproduct.html"
											title="Matcha">Matcha</a> <a class="dropdown-item"
											href="detailproduct.html" title="Socola">Socola</a> <a
											class="dropdown-item" href="detailproduct.html"
											title="Trà trái cây">Trà trái cây</a>
									</div></li>
								<li class="nav-item"><a class="nav-link"
									href="introduce.html">GIỚI THIỆU</a></li>
								<li class="nav-item"><a class="nav-link" th:href="@{/news/}">TIN TỨC</a>
								</li>
								<li class="nav-item"><a class="nav-link"
									href="Contact.html">LIÊN HỆ</a></li>
							</ul>
						</div>

					</div>
				</div>
				<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
					<div class="uk-offcanvas-bar"
						style="background: white; width: 350px;">

						<button class="uk-offcanvas-close" style="color: #272727"
							type="button" uk-close></button>

						<h3
							style="font-size: 14px; color: #272727; text-transform: uppercase; margin: 3px 0 30px 0; font-weight: 500; letter-spacing: 2px;">Tìm
							kiếm</h3>
						<div class="search-box wpo-wrapper-search">
							<form id="searchForm" class="searchform searchform-categoris ultimate-search" onsubmit="return redirectSearch(event)">
							    <div class="wpo-search-inner" style="display: inline">
							        <input type="hidden" name="type" value="product">
							        <input
							            required
							            id="inputSearchAuto"
							            name="q"
							            maxlength="40"
							            autocomplete="off"
							            class="searchinput input-search search-input"
							            type="text"
							            size="20"
							            placeholder="Tìm kiếm sản phẩm...">
							    </div>
							    <button type="submit" class="btn-search btn" id="search-header-btn">
							        <i style="font-weight: bold" class="fas fa-search"></i>
							    </button>
							</form>
							<div id="ajaxSearchResults"
								class="smart-search-wrapper ajaxSearchResults"
								style="display: none">
								<div class="resultsContent"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="offcanvas-flip2" uk-offcanvas="flip: true; overlay: true">
					<div class="uk-offcanvas-bar"
						style="background: white; width: 320px; padding: 30px;">

						<button class="uk-offcanvas-close" style="color: #272727"
							type="button" uk-close></button>

						<h3
							style="font-size: 14px; color: #272727; text-transform: uppercase; margin: 3px 0 30px 0; font-weight: 500; letter-spacing: 2px;">
							Giỏ hàng : <span id="user-name" sec:authorize="isAuthenticated()"
								th:text="${user.username}"></span>
						</h3>

						<div class="site-nav-container-last" style="color: #272727">
							<div class="cart-view clearfix">

								<!-- Giỏ hàng -->
								<table id="cart-view">
									<tbody
										style="overflow-y: auto; height: 340px; display: inline-block; width: 100%;">
									</tbody>
								</table>

								<span class="line"></span>
								<table class="table-total" sec:authorize="isAuthenticated()">
									<tbody>
										<tr>
											<td class="text-left">TỔNG TIỀN:</td>
											<td class="text-right " style="text-align: end;">
												<span
												class="pro-price" id="total-price-view"
												th:text="${user.cart.totalPrice}">Tổng tiền
											</span>
											</td>
										</tr>
										<tr>
											<td colspan="2"><a class="btn btn-primary"
												id="btn-show-cart" th:href="@{/cart/show}">Xem giỏ hàng!</a>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>

				<div class="icon-ol">
					<div sec:authorize="isAuthenticated()" th:replace="~{/fragment/top-bar-right.html}"></div>
					<i sec:authorize="isAuthenticated()" id="user-dropdown"
						class="fas fa-user-alt dropdown" style="color: blue;">
						<ul class="user-dropdown-item">
							<li><a th:href="@{/user/profile}">Thông tin</a></li>
							<li sec:authorize="hasRole('ADMIN')">
							  <a th:href="@{/admin/users}">Quản trị</a>
							</li>
							<li><a th:href="@{/logout}" onclick="dropLocalStorage()">Đăng xuất</a></li>
						</ul>
					</i> <a sec:authorize="!isAuthenticated()" style="color: #272727"
						th:href="@{/user/sign-in}"> <i class="fas fa-user-alt"></i>

					</a> <a href="#" class="" style="text-decoration: none;" uk-toggle="target: #offcanvas-flip"> <i
						class="fas fa-search" style="color: black;"></i>
					</a> <a sec:authorize="isAuthenticated()" style="color: #272727" href="#"
						uk-toggle="target: #offcanvas-flip2"> <i
						class="fas fa-shopping-cart"></i>
					</a>
					<button class="navbar-toggler" type="button"
						uk-toggle="target: #offcanvas-flip1" data-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</div>
			<div sec:authorize="isAuthenticated()" th:replace="~{/chat-box.html :: chat-box}"></div>	
			<script>
				function redirectSearch(event) {
				    event.preventDefault();
				    const query = document.getElementById("inputSearchAuto").value.trim();
				    if (query) {
				        const encodedQuery = encodeURIComponent(query);
				        window.location.href = `/search/${encodedQuery}`;
				    }
				}
			</script>
			<script th:src="@{/js/currency.js}"></script>
			<script th:src="@{/js/cart.js}"></script>
			<script th:inline="javascript">
				var userNameNotification = /*[[${(user != null)?user.username:null}]]*/ []
			</script>
			<script type="text/javascript" th:src="@{/js/notice.js}"></script>
	</div>
	</nav>

	</div>
</body>
</html>