<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="order-list">
		<h2 style="text-align: center;">Đơn hàng của bạn</h2>
					<div style="overflow-y: auto; height: 220px;">
						<table class="table table-hover table-bordered">
							<tr class="bg-info">
								<th>Mã đơn hàng</th>
								<th>Ngày đặt hàng</th>
								<th>Trạng thái</th>
								<th>Tổng tiền</th>
								<th>Xem chi tiết</th>
							</tr>
							<tr style="vertical-align: middle;" th:each="order : ${orders}">
								<td th:text="${order.id}"></td>
								<td th:text="${order.createdDate}"></td>
								<td><div style="background-color: gainsboro;
    border-radius: 5%;
    padding: 5px; font-weight: bold; white-space: nowrap;" th:text="${order.status.getValue()}"></div></td>
								<td class="pro-price" th:text="${order.totalPrice}"></td>
								<td>
									<a th:href="@{/order/show-detail/{id} (id=${order.id})}" class="btn btn-success">Chi tiết</a>
								</td>
							</tr>
							
						</table>
					</div>
	</div>
</body>
</html>