<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="product(product)" class="product-block">
		<div class="product-img fade-box">
			<a th:href="@{/san-pham/{id} (id = ${product.name})}"
				th:title="${product.name}" class="img-resize"> <img
				th:src="${'https://s3.cloudfly.vn/kltn/images/' + product.image}"
				th:alt="${product.name}" class="lazyloaded"> <img
				src="images/drink/drink fade 1.jpg" th:alt="${product.name}"
				class="lazyloaded">
			</a>

		</div>
		<div class="product-detail clearfix">
			<div class="pro-text">
				<a style="color: black; font-size: 14px; text-decoration: none;"
					href="#" title="Cà phê" inspiration pack th:text="${product.name}">
					Cà Phê Sữa Tươi </a>
			</div>
			<div>
				<!-- Không giảm giá -->
				<p th:if="${product.eventStatus == null || product.eventStatus.name() != 'IS_GOING_ON'}" class="pro-price"
					th:text="${product.lowestPrice}"></p>

				<!-- Có giảm giá -->
				<p th:if="${product.eventStatus != null && product.eventStatus.name() == 'IS_GOING_ON'}">
					<span style="font-weight: normal; text-decoration: line-through; color: gray;" class="pro-price old" th:text="${product.lowestPrice}"></span>

					<span class="pro-price sale"
						th:text="${T(java.lang.Math).ceil((product.lowestPrice * (1 - product.discount/100.0)) / 1000) * 1000}">
					</span>
				</p>

			</div>
		</div>
	</div>
</body>
</html>