#chat-box-button{
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 1;
	visibility: visible;
}

#chat-box-button.close{
	opacity: 0;
	visibility: hidden;
}

#chat-box-frame {
	opacity: 0;
	visibility: hidden;
	background-color: transparent;
	width: 20%;
	height: 60vh;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 10px;
	box-shadow: -1px -1px 14px -4px rgba(0, 0, 0, 0.65);
	transition: all 0.5s ease-out;
}

#chat-box-frame.active { /*Chỉ có phần tử chat-box-frame mới được áp dụng thuộc tính này*/
	opacity: 1;
	visibility: visible;
}

#header {
	background-color: #ffcbcb;
	height: fit-content;
	border-bottom: 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#content {
	background-color: white;
	height: 73%;
	overflow-y: auto;
	padding: 10px;
	
}

#footer {
	background-color: #f0f0f0;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px;
}

#btn-close{
	background-color: transparent;
	border: none;
	transition: 0.5s color;
	cursor: pointer;
}

#btn-close:hover{
	color: orangered;
}

#input-panel{
	height: 56%;
}
#btn-send{
	background-color: transparent;
	border: none;
	transition: 0.25s color;
}

#btn-send:hover{
	color: blue;
}

.message{
	margin: 10px 0px;
	padding: 10px;
	border-radius: 10px;
	clear: both;
	max-width: 95%;
	color: white;
	word-wrap: break-word;
}

.message-employee{
	float: left;
	
}
.message-customer{
	float: right;
}
@media(max-width : 768px) {
	#chat-box-frame {
		width: 100%;
		position: fixed;
		bottom: 20px;
		right: 0px;
	}
	#content{
		height: 76%;
	}
}

.income-message{
	overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.circle{
	font-size: 13px;
    color: #f16b6b;
}

.chat-list-panel{
	    height: 100%;
    overflow-y: auto;
}

#change-conversation{
	border: none;
	background-color: transparent;
}

#change-conversation:hover{
	color: orangered;
}

.product-chat-bot-result{
	display: block;
    color: white;
    font-weight: bold;
}

.product-chat-bot-result:hover{
	color: orangered;
}
