.btn-update-sm {
    padding: 4px 10px !important;
    font-size: 13px !important;
    height: auto !important;
    line-height: 1 !important;
    border-radius: 6px;
    white-space: nowrap;
}

.btn-submit-all {
    background: linear-gradient(135deg, #28a745, #218838);
    padding: 7px 12px;
	margin-right: 2.5%;
    font-size: 10px;
    color: #fff !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(46, 204, 113, 0.3);
    transition: 0.3s;
}

.btn-submit-all:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(46, 204, 113, 0.45);
}


