<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="css/style.css">

  <link rel="stylesheet" href="plugins/animate/animate.min.css">

  <link rel="stylesheet" href="plugins/fontawesome/all.css">

  <link href="plugins/webfonts/font.css"
    rel="stylesheet">
  <link rel="stylesheet" href="plugins/owl.carousel/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="plugins/owl.carousel/owl.theme.default.min.css" type="text/css">

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="plugins/uikit/uikit.min.css" />


  <title>Liên hệ</title>

</head>

<body>
	<span th:replace="~{/fragment/header.html :: header}"></span>
  <!--Banner-->
  <div>
    <div>
      <img src="images/collection_banner.jpg" alt="Products">
    </div>
  </div>
  <div class="breadcrumb-shop">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5">
          <ol class="breadcrumb breadcrumb-arrows">
            <li>
              <a href="index.html">
                <span>Trang chủ</span>
              </a>
            </li>
            <li>
              <span><span style="color: #777777">Liên hệ</span></span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section>

    <div class="container">

      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 box-heading-contact">
          <div class="box-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.676888961929!2d106.75474927480587!3d10.844626289308314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527bb6a9794b7%3A0xbd800ef476470e16!2zNDIgxJAuIFPhu5EgOCwgVHLGsOG7nW5nIFRo4buNLCBUaOG7pyDEkOG7qWMsIEjhu5MgQ2jDrSBNaW5oIDAwNzAwLCBWaeG7h3QgTmFt!5e1!3m2!1svi!2s!4v1758995357524!5m2!1svi!2s"
              width="100%" height="700" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12  wrapbox-content-page-contact">
          <div class="header-page-contact clearfix">
            <h1>Liên hệ</h1>
          </div>
          <div class="box-info-contact">
            <ul class="list-info">
              <li>
                <p>Địa chỉ chúng tôi</p>
                <p><strong>42 Đường số 8, Phường Trường Thọ, Thủ Đức, TP Hồ Chí Minh.</strong></p>
              </li>
              <li>
                <p>Email chúng tôi</p>
                <p><strong>khanhhuy2323@gmail.com</strong></p>
              </li>
              <li>
                <p>Điện thoại</p>
                <p><strong>0378 941 321</strong></p>
              </li>
              <li>
                <p>Thời gian làm việc</p>
                <p><strong>07h-22h hằng ngày </strong></p>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>

  </section>
  <!--gallery-->
  <section class="section section-gallery">
    <div class="">
      <div class="hot_sp" style="padding-top: 70px;padding-bottom: 50px;">
        <h2 style="text-align:center;padding-top: 10px">
          <a style="font-size: 28px;color: black;text-decoration: none" href="">Khách hàng và AUNES</a>
        </h2>
      </div>
      <div class="list-gallery clearfix">
        <ul class="drink-gp">
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/drink/gallery_item_1.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/drink/gallery_item_2.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/drink/gallery_item_3.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/drink/gallery_item_4.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/drink/gallery_item_5.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/drink/gallery_item_6.jpg" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="main-footer">
      <div class="container">
        <div class="">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="footer-col footer-block">
                <h4 class="footer-title">
                  Giới thiệu
                </h4>
                <div class="footer-content">
                  <p>AUNES trang mua bán các sản phẩm đồ uống chất lượng mà bạn cần tìm.</p>
                  <!-- <div class="logo-footer">
                    <img src="images/logo-bct.png" alt="Bộ Công Thương">
                  </div> -->
                  <div class="social-list">
                    <a href="https://www.facebook.com/profile.php?id=61567950280264" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-google"></a>
                    <a href="#" class="fab fa-instagram"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="footer-col footer-link">
                <h4 class="footer-title">
                   &amp; CÂU HỎI
                </h4>
                <div class="footer-content toggle-footer">
                  <ul>
                    <li class="item">
                      <a href="#" title="Tìm kiếm">Tìm kiếm</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Giới thiệu">Giới thiệu</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Chính sách bảo mật">Chính sách bảo mật thông tin</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Điều khoản dịch vụ">Điều khoản sử dụng</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="footer-col footer-block">
                <h4 class="footer-title">
                  Thông tin liên hệ
                </h4>
                <div class="footer-content toggle-footer">
                  <ul>
                    <li><span>Địa chỉ:</span> 42 Đường số 8, Phường Trường Thọ, TP. Thủ Đức, TP. Hồ Chí Minh</li>
                    <li><span>Điện thoại:</span> 0378 941 321</li>
                    <!-- <li><span>Fax:</span> +84 (028) 38800659</li> -->
                    <li><span>Mail:</span> khanhhuy2323@gmail.com</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="footer-col footer-block">
                <h4 class="footer-title">
                  FANPAGE
                </h4>
                <div class="footer-content">
                  <div id="fb-root">
                    <div class="footer-static-content">
                      <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61567950280264"
                        data-tabs="timeline" data-width="" data-height="215" data-small-header="false"
                        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/profile.php?id=61567950280264"
                          class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/profile.php?id=61567950280264">AUNES coffee&cake</a>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-footer--copyright">
        <div class="container">
          <hr>
          <div class="main-footer--border" style="text-align:center;padding-bottom: 15px;">
            <p>Huy and Tin make this web <a href="#"> AUNES</a>. <a target="_blank"
                href="https://www.facebook.com/khanhhuy.214">Powered by GVHD</a></p>
          </div>
        </div>
      </div>
    </footer>
  <script async defer crossorigin="anonymous" src="plugins/sdk.js"></script>
  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit-icons.min.js"></script>
</body>

</html>