<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{plugins/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{plugins/fontawesome/all.css}">
<link rel="stylesheet" th:href="@{plugins/webfonts/font.css}">
<link rel="stylesheet" th:href="@{css/owl.carousel.min.css}"	type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/news-home.css}">

<!-- UIkit CSS -->
<link rel="stylesheet" th:href="@{plugins/uikit/uikit.min.css}" />

<title>AUNES</title>

</head>

<body>
	<span th:replace="~{/fragment/header.html :: header}"></span>

	<!-- Owl-Carousel -->
	<div class="owl-carousel owl-theme owl-carousel-setting">
		<div class="item">
			<img src="images/slideshow_1.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="item">
			<img src="images/slideshow_2.png" class="d-block w-100" alt="...">
		</div>
	</div>


	<!--Content-->
	<div class="content">
		<!--Sản phẩm bán chạy-->
		<div class="container">
			<div class="hot_sp" style="padding-bottom: 10px;">
				<h2 style="text-align: center; padding-top: 10px">
					<a style="font-size: 28px; color: black; text-decoration: none"
						href="">Sản phẩm bán chạy</a>
				</h2>
			</div>
		</div>
		<!--Product-->
		<div class="container" style="padding-bottom: 50px;">
			<div class="row">
				<div class="col-md-3  col-xs-6 col-6" th:each="product: ${products}">
					<div th:replace="~{fragment/product.html :: product(${product})}"></div>
				</div>
			</div>
		</div>


		<section class="">
			<div class="content">
				<div class="container">
					<div class="hot_sp">
						<h2 style="text-align: center; padding-top: 10px">
							<a style="font-size: 28px; color: black; text-decoration: none"
								href="#">Bài viết mới nhất</a>
						</h2>
						<br />
					</div>
				</div>
			</div>
			<!--News-->
			  <div class="container">

			    
			    <div class="row" th:if="${newsList != null}">
			      <!-- Lặp từng news -->
				  <div class="row" th:if="${newsList != null}">
				    <div class="col-md-4" th:each="news : ${newsList}">
						<a th:href="@{/news/{id}(id=${news.name})}" class="post_item_link" style="text-decoration: none; color: inherit;">
						<div class="post_item">		
							<!-- Có ảnh -->
							      <img class="img-resize" loading="lazy"
							           th:if="${!#strings.isEmpty(news.image)}"
							           th:src="'https://s3.cloudfly.vn/kltn/images/news/main-image/'+${news.image}"
							           th:alt="${#strings.defaultString(news.name,'news')}" />

							      <!-- Không có ảnh -> dùng ảnh mặc định -->
							      <img class="img-resize" loading="lazy"
							           th:if="${#strings.isEmpty(news.image)}"
							           th:src="@{/images/blog/no-image.jpg}"
							           alt="news" />
					      <!-- Hiển thị tiêu đề -->
					      <a th:href="@{/news/{id} (id = ${news.name})}" th:text="${news.name}">Tiêu đề</a>
					      <!-- Hiển thị tên tác giả -->
					      <span th:text="|Tác giả: ${news.authorName}|">Tác giả</span>
						  <p th:text="${news.shortDescription}">Tóm tắt</p>
				    		</div>
				  	</div>
			    <!-- Fallback khi không có bài -->
				    <div class="row" th:if="${newsList == null or #lists.isEmpty(newsList)}">
				      <div class="col-12">
				        <p style="text-align:center; padding: 1rem 0;">Chưa có bài viết nào.</p>
				      </div>
				    </div>

			  		</div>
			</div>
		</div>
		</section>
		<section class="section wrapper-home-newsletter">
			<div class="container-fluid">
				<div class="content-newsletter">
					<h2>Đăng ký</h2>
					<p>Đăng ký nhận bản tin của AUNES để cập nhật những sản phẩm
						mới, nhận thông tin ưu đãi đặc biệt và thông tin giảm giá khác.</p>
					<div class="form-newsletter">
						<form action="" accept-charset="UTF-8" class="">
							<div class="form-group">
								<input type="hidden" id="contact_tags"> <input
									required="" type="email" value=""
									placeholder="Nhập email của bạn" aria-label="Email Address"
									class="">
								<button type="submit" class="">
									<span>Gửi</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-gallery">
			<div class="">
				<div class="hot_sp" style="padding-top: 70px; padding-bottom: 50px;">
					<h2 style="text-align: center; padding-top: 10px">
						<a style="font-size: 28px; color: black; text-decoration: none"
							href="">Khách hàng và AUNES</a>
					</h2>
				</div>
				<div class="list-gallery clearfix">
					<ul class="drink-gp">
						<li>
							<div class="gallery_item">
								<img class="img-resize" src="images/drink/gallery_item_1.jpg"
									alt="">
							</div>
						</li>
						<li>
							<div class="gallery_item">
								<img class="img-resize" src="images/drink/gallery_item_2.jpg"
									alt="">
							</div>
						</li>
						<li>
							<div class="gallery_item">
								<img class="img-resize" src="images/drink/gallery_item_3.jpg"
									alt="">
							</div>
						</li>
						<li>
							<div class="gallery_item">
								<img class="img-resize" src="images/drink/gallery_item_4.jpg"
									alt="">
							</div>
						</li>
						<li>
							<div class="gallery_item">
								<img class="img-resize" src="images/drink/gallery_item_5.jpg"
									alt="">
							</div>
						</li>
						<li>
							<div class="gallery_item">
								<img class="img-resize" src="images/drink/gallery_item_6.jpg"
									alt="">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- footer -->
	<span th:replace="~{/fragment/footer.html :: footer}"></span>
	</div>
	<!--
		<div class="registratior_custom">
				<form action="">
					<div class="content">
						<div class="x-close">
							<i class="fa fa-times"></i>
						</div>
						<h3>Nhận các ưu đãi cùng AUNES</h3>
						<p>Chúng tôi sẽ cập nhật các chương trình khuyến mãi mới đến bạn</p>
						<ul>
							<li><span>Giảm giá sản phẩm</span></li>
							<li><span>Sản phẩm mới</span></li>
							<li><span>Sản phẩm bán chạy</span></li>
						</ul>
						<input type="text" placeholder="Đăng kí nhận thông tin">
						<button class="button_register">
							<p>ĐĂNG KÍ</p>
						</button>
					</div>
				</form>
			</div>
	-->
	<script async defer crossorigin="anonymous" th:src="@{plugins/sdk.js}"></script>
	<script th:src="@{plugins/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
	<script th:src="@{plugins/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{js/home.js}"></script>
	<script th:src="@{js/script.js}"></script>
	<script th:src="@{/js/news-loadmore.js}"></script>
	<script th:src="@{plugins/uikit/uikit.min.js}"></script>
	<script th:src="@{plugins/uikit/uikit-icons.min.js}"></script>
	<script type="text/javascript">
		formatToVND()
	</script>
	
</body>

</html>
