<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/plugins/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/plugins/animate/animate.min.css}">
<link rel="stylesheet" th:href="@{/plugins/fontawesome/all.css}">
<link rel="stylesheet" th:href="@{/plugins/webfonts/font.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"
	type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<!-- UIkit CSS -->
<link rel="stylesheet" th:href="@{/plugins/uikit/uikit.min.css}" />
<link rel="stylesheet" th:href="@{/css/sign.css}">
<title>Signin</title>
<style>
#quenmk {
	transition: 0.5s;
}

#quenmk:hover {
	color: red;
}
</style>
</head>

<body>
	<span th:replace="~{/fragment/header.html :: header}"></span>

	<!--Content-->
	<div class="content">
		<section class="signin ">
			<div class="container">
				<div class="signin-left">
					<div class="sign-title">
						<h1>Đăng nhập</h1>
					</div>
				</div>
				<div class="signin-right" id="a-sign">
					<form th:action="@{/authenticateTheUser}" th:method="post">
						<div
							style="color: red; text-align: center; padding-bottom: 10px; font-weight: bold;"
							th:if="${param.error}">Sai tên tài khoản hoặc mật khẩu!</div>
						<div class="username form-control1 ">
							<input type="text" id="username" placeholder="Tài khoản"
								name="username">
						</div>
						<div class="password form-control1">
							<input type="password" id="password" placeholder="Mật khẩu"
								name="password">
						</div>

						<div class="recaptcha form-control1">
							This site is protected by reCAPTCHA and the Google <a href="">Privacy
								Policy</a> and <a href="">Terms of Service</a> apply.
						</div>
						<div id="captcha-error" style="display: none; color: red;">Vui lòng xác thực captcha!</div>
						<div class="g-recaptcha" data-sitekey="6Lf_aOgrAAAAAJ3He99IUgDV691f63BfzUln4HQP" style="margin-bottom: 20px;"></div>
						<div class="submit">
							<input class="btn" type="submit" value="Đăng Nhập">
							<div class="forgetpassword">
								<p style="cursor: pointer;" id="quenmk">Quên mật khẩu?</p>
								hoặc <a href="/user/sign-up">Đăng kí</a>
							</div>

						</div>

					</form>
				</div>
				<div class="signin-right " id="b-sign">
					<form action="/user/reset-password" method="post">
						<div class="username form-control1 ">
							<h2>Phục hồi mật khẩu</h2>
						</div>
						<div id="error"
							style="display: none; color: red; font-weight: bold;"></div>
						<div class="form-control1">
							<input type="text" id="email" name="email" placeholder="Email" autocomplete="email">
						</div>
						<div class="form-control1" id="verify-code" style="display: none;">
							<input type="text" id="verify-code-input" name="verify-code"
								placeholder="Mã xác thực">
						</div>
						<div class="form-control1" id="vefify-password"
							style="display: none;">
							<input type="password" id="new-password" name="password"
								placeholder="Password mới">
						</div>
						<div class="recaptcha form-control1">
							This site is protected by reCAPTCHA and the Google <a href="">Privacy
								Policy</a> and <a href="">Terms of Service</a> apply.
						</div>
						<div class="submit">
							<input class="btn" id="send-mail-button" type="button"
									value="Gửi" onclick="sendMail()">
							<div class="forgetpassword">
								<a href="" id="huy">Hủy</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>

		<span th:replace="~{/fragment/footer.html :: footer}"></span>
	</div>

	<script async defer crossorigin="anonymous" src="/plugins/sdk.js"></script>
	<script src="/plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	<script th:src="@{/plugins/bootstrap/popper.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{/plugins/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/js/home.js}"></script>
	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/plugins/uikit/uikit.min.js}"></script>
	<script th:src="@{/plugins/uikit/uikit-icons.min.js}"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script th:src="@{/js/sign.js}"></script>
	<script th:src="@{/js/password-reset.js}"></script>
	
	<script type="text/javascript">
		// Lấy toàn bộ query param của URL
		const params = new URLSearchParams(window.location.search);
		const captchaError = params.get('captchaError')
		console.log(captchaError)
		if(captchaError)
		{
			document.getElementById("captcha-error").style.display = 'block'
		}
	</script>
</body>

</html>