<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Admin Panel | Quản lý người dùng</title>

  <!-- CSS gốc của Admin Panel -->
  <link rel="stylesheet" th:href="@{/css/admin.css}" />
  <!-- Bổ sung style riêng cho phần User -->
  <link rel="stylesheet" th:href="@{/css/user-management/user-management.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <!-- Icon (tuỳ chọn) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <!-- ===== SIDEBAR ===== -->
	<div th:replace="~{/fragment/side-bar.html :: side-bar}"></div>

  <!-- MAIN CONTENT -->
  <div class="main-content">

    <!-- TOPBAR -->
    <div class="topbar">
      <h1>Quản lý mã giảm giá</h1>
      <div class="topbar-right">
        <span>Admin</span>
        <i class="fas fa-user-circle"></i>
      </div>
    </div>

    <!-- CARDS THỐNG KÊ -->
    <div class="cards">
      <div class="card">
        <h3>Tổng người dùng</h3>
        <p>0</p>
      </div>
      <div class="card">
        <h3>Admin</h3>
        <p>0</p>
      </div>
      <div class="card">
        <h3>Người dùng</h3>
        <p>0</p>
      </div>
    </div>


  </div>
</body>
</html>